<!DOCTYPE html>
<html ng-app="home">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/lib/winjs/css/ui-dark.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="~/lib/bootstrap/js/bootstrap.js"></script>*@
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="~/lib/winjs/js/base.js"></script>
    <script src="~/lib/winjs/js/ui.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/scripts/HomeController.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>