<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown" [class.open]="IsOpen">
                        <a class="dropdown-toggle" (click)="toggleOpen()">Räume<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let room of Rooms"><a (click)="navigateTo(room)">{{room.Name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>