.navbar-inverse .dropdown-menu {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .dropdown-menu > li > a {
  color: #999;
}
.navbar-inverse .dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #000;
}
.navbar-inverse .dropdown-menu > .divider {
  background-color: #000;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.switch {
  position: relative;
  width: 3.5em;
  height: 2em;
  /*@media (min-width: 992px) and (max-width: 1199px) {*/
  /*}*/
}
.switch.big {
  font-size: 25vw;
}
.switch input {
  display: none;
}
.switch input:checked + label {
  border-color: #0078d7;
  background-color: #0078d7;
}
.switch input:checked + label span {
  left: 2.3em;
}
.switch label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0.2em solid #ffffff;
  border-radius: 0.8em;
  height: 1.6em;
}
.switch label:active {
  border-color: #7d7d7d !important;
  background-color: #7d7d7d !important;
}
.switch label span {
  display: block;
  width: 0.8em;
  height: 0.8em;
  background: #ffffff;
  position: absolute;
  top: 0.4em;
  left: 0.4em;
  border-radius: 0.8em;
  transition: all 0.2s ease 0.1s;
}
